/* 
---01 TYPOGRAPHY SYSTEM

    -font size (px):
        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    -font-weight:
        400 , 500 , 600 , 700
    -line-height:
        defualt:1
---02 color:
    -primary color:

    -tints color:
    -shades color:
    Accents:
    Greyes: #555
  btn-color:
  #103035
  #1a5059

---03 shadows:

---04 Border-raduise:

---05: spaceing system
        -SPACING SYSTEM (px)
         2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
    font-size: 62.5%;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-weight: 400;
    color: #000;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  /*********************************/
  /* General */
  /*********************************/
  
  .container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  .primary-headline {
    margin-top: 0;
    font-size: 5.2rem;
    font-weight: 700;
  }
  .flex--footer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .align-items-end {
    align-items: end;
  }
  .secndery-heading {
    font-size: 4.4rem;
    margin: 2rem 0 6.4rem 0;
    font-weight: 700;
  }
  .heading-teritory {
    font-size: 2.8rem;
    margin: 2rem 0 6.4rem 0;
  }
  .btn {
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 2rem;
    padding: 2.2rem;
    color: white;
    border-radius: 1.1rem;
  }
  .btn--full {
    background-color: #1a5059;
  }
  .btn--out {
    border: 3px solid #1a5059;
  }
  .btn--full:hover {
    background-color: #103035;
  }
  .btn--out:hover {
    border: 3px solid #103035;
  }
  
  .btn--cta {
    color: black;
    background-color: #1a5059;
  }
  .btn--cta:hover {
    background-color: #17474f;
  }
  .subheading {
    font-size: 1.8rem;
    color: #1a5059;
    font-weight: 600;
  }
  
  .grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.2rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .center {
    text-align: center;
  }
  .tag {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
  }
  .tag--pro {
    background-color: dodgerblue;
  }
  .tag--speed {
    background-color: #e67e22;
  }
  .tag--elc {
    background-color: #22e62f;
  }