/* 
---01 TYPOGRAPHY SYSTEM

    -font size (px):
        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    -font-weight:
        400 , 500 , 600 , 700
    -line-height:
        defualt:1
---02 color:
    -primary color:

    -tints color:
    -shades color:
    Accents:
    Greyes: #555
  btn-color:
  #103035
  #1a5059

---03 shadows:

---04 Border-raduise:

---05: spaceing system
        -SPACING SYSTEM (px)
         2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #555;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*********************************/
/* General */
/*********************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.primary-headline {
  margin-top: 0;
  font-size: 5.2rem;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 2rem;
  padding: 2.2rem;
  color: white;
  border-radius: 1.1rem;
}
.btn--full {
  background-color: #1a5059;
}
.btn--out {
  border: 3px solid #1a5059;
}
.btn--full:hover {
  background-color: #103035;
}
.btn--out:hover {
  border: 3px solid #103035;
}
/*********************************/
/* Hero section*/
/*********************************/
.section-hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url(/assets/img/hero.jpg);
  background-size: cover;
}
.hero {
  padding-top: 9.6rem;
  display: flex;
  justify-content: space-between;
  color: #cfcfcf;
}
.hero-image-box {
  width: 90%;
}

.hero-describtion {
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 6.4rem;
}
.hero-content {
  width: 60%;
}
