/* 
---01 TYPOGRAPHY SYSTEM

    -font size (px):
        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    -font-weight:
        400 , 500 , 600 , 700
    -line-height:
        defualt:1
---02 color:
    -primary color:

    -tints color:
    -shades color:
    Accents:
    Greyes: #555
  btn-color:
  #103035
  #1a5059

---03 shadows:

---04 Border-raduise:

---05: spaceing system
        -SPACING SYSTEM (px)
         2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #000;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*********************************/
/* General */
/*********************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.primary-headline {
  margin-top: 0;
  font-size: 5.2rem;
  font-weight: 700;
}

.secndery-heading{
  font-size: 3.6rem;
  margin-top: 2rem;
  font-weight: 700;
}
.btn {
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 2rem;
  padding: 2.2rem;
  color: white;
  border-radius: 1.1rem;
}
.btn--full {
  background-color: #1a5059;
}
.btn--out {
  border: 3px solid #1a5059;
}
.btn--full:hover {
  background-color: #103035;
}
.btn--out:hover {
  border: 3px solid #103035;
}

.subheading {
  font-size: 1.8rem;
  color: #1a5059;
  font-weight: 600;
}


/*********************************/
/* header section*/
/*********************************/
.header {
  display: flex;
  background-color: #b1b4b3;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 6rem;
}
.logo {
  height: 3.2rem;
}
.header-logo {
  padding-left: 4rem;
}

.main-nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem;
  color: #000;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #1a5059;
  border-radius: 1.1rem;
  outline: none;
}
.btn--custom:link,
.btn--custom:visited {
  background-color: #1a5059;
  border-radius: 1.1rem;
  color: #29201b;
}
.btn--custom:hover,
.btn--custom:active {
  background-color: #1a5059;
  border-radius: 1.1rem;
  color: white;
}
.navbar {
  padding-right: 4rem;
}
/*********************************/
/* Hero section*/
/*********************************/
.section-hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url(/assets/img/hero.jpg);
  background-size: cover;
}
.hero {
  padding-top: 9.6rem;
  display: flex;
  justify-content: space-between;
  color: #cfcfcf;
}
.hero-image-box {
  width: 90%;
}

.hero-describtion {
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 6.4rem;
}
.hero-content {
  width: 60%;
}

.customers {
  margin-top: 9.6rem;
  display: flex;
  gap: 2rem;
}
.customers-images {
  display: flex;
}
.customers-images img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 100%;
  margin: -1.2rem;
  border: 3px solid;
}
.customers-content {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.customers-content span {
  font-weight: 700;
}

/*********************************/
/* featured in section*/
/*********************************/
.section-features {
  padding: 4.8rem 0 3.2rem 0;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
.company-logos img {
  height: 3.6rem;
}
.heading-featured-in {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: 2;
}

/*********************************/
/* how to  section*/
/*********************************/
.section-how-to {
  padding: 4.8rem 0 3.2rem 0;
}
