/* 
---01 TYPOGRAPHY SYSTEM

    -font size (px):
        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    -font-weight:
        400 , 500 , 600 , 700
    -line-height:
        defualt:1
---02 color:
    -primary color:

    -tints color:
    -shades color:
    Accents:
    Greyes: #555
  btn-color:
  #103035
  #1a5059

---03 shadows:

---04 Border-raduise:

---05: spaceing system
        -SPACING SYSTEM (px)
         2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  color: #000;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*********************************/
/* General */
/*********************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.primary-headline {
  margin-top: 0;
  font-size: 5.2rem;
  font-weight: 700;
}

.align-items-end {
  align-items: end;
}
.secndery-heading {
  font-size: 4.4rem;
  margin: 2rem 0 6.4rem 0;
  font-weight: 700;
}
.heading-teritory {
  font-size: 2.8rem;
  margin: 2rem 0 6.4rem 0;
}
.btn {
  text-decoration: none;
  font-size: 2.2rem;
  margin-right: 2rem;
  padding: 2.2rem;
  color: white;
  border-radius: 1.1rem;
}
.btn--full {
  background-color: #1a5059;
}
.btn--out {
  border: 3px solid #1a5059;
}
.btn--full:hover {
  background-color: #103035;
}
.btn--out:hover {
  border: 3px solid #103035;
}

.subheading {
  font-size: 1.8rem;
  color: #1a5059;
  font-weight: 600;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.2rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.center {
  text-align: center;
}
.tag {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
}
.tag--pro {
  background-color: dodgerblue;
}
.tag--speed {
  background-color: #e67e22;
}
.tag--elc {
  background-color: #22e62f;
}
/*********************************/
/* header section*/
/*********************************/
.header {
  display: flex;
  background-color: #29201b;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 6rem;
  opacity: 0.6;
}
.logo {
  height: 3.2rem;
}
.header-logo {
  padding-left: 4rem;
}

.main-nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem;
  color: #fff;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #1a5059;
  border-radius: 1.1rem;
  outline: none;
}
.btn--custom:link,
.btn--custom:visited {
  background-color: #1a5059;
  border-radius: 1.1rem;
  color: #fff;
}
.btn--custom:hover,
.btn--custom:active {
  background-color: white;
  border-radius: 1.1rem;
  color: #29201b;
}
.navbar {
  padding-right: 4rem;
}
/*********************************/
/* Hero section*/
/*********************************/
.section-hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.5)
    ),
    url(/assets/img/hero.jpg);
  background-size: cover;
}
.hero {
  padding-top: 9.6rem;
  display: flex;
  justify-content: space-between;
  color: #cfcfcf;
}
.hero-image-box {
  width: 90%;
}

.hero-describtion {
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 6.4rem;
}
.hero-content {
  width: 60%;
}

.customers {
  margin-top: 9.6rem;
  display: flex;
  gap: 2rem;
}
.customers-images {
  display: flex;
}
.customers-images img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 100%;
  margin: -1.2rem;
  border: 3px solid;
}
.customers-content {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.customers-content span {
  font-weight: 700;
}

/*********************************/
/* featured in section*/
/*********************************/
.section-features {
  padding: 4.8rem 0 3.2rem 0;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}
.company-logos img {
  height: 3.6rem;
}
.heading-featured-in {
  text-align: center;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: 2;
}

/*********************************/
/* how to  section*/
/*********************************/
.section-how-to {
  padding: 9.6rem;
}

.how-content {
  margin-top: 4.4rem;
}
.how-number {
  font-size: 6.4rem;
  font-weight: 700;
  color: #1a5059;
}

.how-describtion {
  font-size: 1.8rem;
  font-size: 600;
  line-height: 1.8;
}
.how-image img {
  width: 100%;
  border-radius: 1.1rem;
}
/*********************************/
/* category  section*/
/*********************************/
.section-category {
  padding: 9.6rem;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
  border-radius: 1.1rem;
  transition: all 0.3s;
}
.category img {
  width: 100%;
  border-radius: 1.1rem 1.1rem 0 0;
}
.category-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.category-content {
  padding: 3rem;
}
.category ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  font-size: 1.8rem;
}
.category li {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.category-icon {
  font-size: 3.2rem;
  color: #1a5059;
}

.card-hover:hover {
  transform: translate(0, -2rem);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.6);
}
.all-models {
  text-align: center;
  margin-top: 3.2rem;
}

.all-models a:link,
.all-models a:visited {
  font-size: 1.6rem;
  padding: 1.6rem;
}

.all-models a:hover,
.all-models a:active {
  text-decoration: none;
}

/*********************************/
/* Testemonial section*/
/*********************************/
.section-testemonial {
  padding: 9.6rem 0;
  background-color: #211a16;
}

.testemonial-content {
  padding-left: 9.6rem;
}
.customer-testemonial img {
  height: 9.6rem;
  width: 9.6rem;
  border-radius: 100%;
}
.testemonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: white;
}

.testemonial-name {
  font-size: 1.6rem;
  color: white;
}
.gallery {
  margin-right: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
.heading-testemonial {
  color: white;
}
